<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <title>Kiosk Landing Page</title>
</head>
<body>

<div class="row">
    <div class="project-name col-sm-6">
        <b>Can Deux</b>
    </div>
    <div class="total-money-counter col-sm-6">
        <b>Lifetime money raised:</b> <br/><span id="totalMoney"></span>
    </div>
</div>


<div id="kioskWrapper">
    <!--<div class="header-msg">-->
        <!--<h1>Insert your cans above</h1>-->
    <!--</div>-->
    <div class="past-hour-money">
       <b>Dollars raised in past hour:</b> <span id="pastHourMoney"></span>
    </div>

    <div class="charity-wrapper">
    <div><b>Our current cause:</b>
        <span id="charityName"></span>
        <div><img id="currentCharityLogo" src=""></div>
    </div>

    <button id="charityInfoBtn" onclick='document.location.href="/charities"'
            class="btn btn-info btn-lg">Learn more about our current charity</button>
    </div>
</div>

</body>

</html>

<script type="text/javascript">

    $(document).ready(function () {
        function getCharityInfo(name) {
            $.ajax(
                {
                    url: "/api/charities/" + name,
                    type: 'GET',
                    success: function (result) {
                        let charityName = result.name;
                        $('#charityName').html(name);
                        $('#currentCharityLogo').attr('src', result.imgurl)
                    },
                    error: function(e) {
                        console.log(e);
                    }
                }
            );
        }

        $.ajax(
            {
                url: "/api/kiosks/" + 'demo',
                type: 'GET',
                success: function (result) {
                    let money = result.total_earned;
                    let moneyPastHour = result.total_earned; //TODO: FIXME
                    $("#totalMoney").html(money);
                    $("#pastHourMoney").html(moneyPastHour);
                },
                error: function(e) {
                    console.log(e);
                }
            }
        );
        $.ajax(
            {
                url: "/api/charities/current",
                type: 'GET',
                success: function (result) {
                    let charityName = result.name;
                    getCharityInfo(charityName);
                },
                error: function(e) {
                    console.log(e);
                }
            }
        );
    });



</script>