body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #adffb8 !important;
}

a {
  color: #00B7FF;
}

/* Kiosk page styles */
#kioskWrapper {
    font-size: 18px;
    text-align: center;
}

#currentCharityLogo {
    max-width: 500px;
    max-height: 350px;
    padding: 15px;
}

.total-money-counter {
    text-align: right;
}

.project-name {
    color: green;
    font-size: 36px;
}

.past-hour-money {
    padding: 10px;
    font-size: 24px;
}


/* Charity Page Styles */

#charityLogo {
    width: 400px;
}

#charityName-info {
    font-size: 40px;
}

#description {
    font-size: 16px;
}

.tbl-logo {
    width: 100px;
}

#toggleAllBtn {
    margin-top: 45px;
}

#charityInfoBtn {
    margin-top: 100px;
}
