body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* Kiosk page styles */
#kioskWrapper {
    font-size: 18px;
    text-align: center;
}

#currentCharityLogo {
    width: 250px;
    padding: 15px;
}

.total-money-counter {
    text-align: right;
}

.project-name {
    color: green;
    font-size: 24px;
}

.past-hour-money {
    padding: 10px;
}


/* Charity Page Styles */

